@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
    @if (TempData["Erro"] != null)

{
<div class= "alert alert-danger">
@TempData["Erro"]
</div>
}



<div class="text-center">
    @if (TempData["Sucesso"] != null)

{
<div class= "alert alert-sucess">
@TempData["Sucesso"]
</div>
}
  
<h1>Olá mundo</h1>
